body {
  font-family: 'Secular One', sans-serif;
  background-color: #377BA6;
}

header {
  background: url(../books.jpg) no-repeat;
  width: 100%;
  margin-top: 0px;
}
.container {
  width: 90%;
  margin: auto;
}

h1 {
  font-size: 350%;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

h2 {
  font-size: 300%;
  width: 100%;
  padding-bottom: 10px;
  display: block;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  color: gray;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/*Input bookmarks*/

.main-input {
  background-color: #D94A3D;
  border-radius: 10px;
  margin: auto;
  padding-bottom: 10px;
  padding: 10px;

  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-title-field,
.input-url-field {
  margin: 5px;
}

p {
  font-size: 200%;
  width: 100%;
  padding-bottom: 10px;
  display: block;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  color: white;
}

/*Bookmarks list items*/

.secondary-content {
  height: 75px;
  border-top: 10px solid #253140;
}

.display-count {
  height: 20px;
  width: 200px;
  padding-top: 5px;
  color: white;
}

.read-count {
  height: 20px;
  width: 200px;
  color: white;
}

.unread-count {
  height: 20px;
  width: 200px;
  color: white;
}

.display-title-field,
.display-url-field {
  height: 20px;
}


ul {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  text-align: center;
  width: 30%;
  height: 90px;
  border: 5px solid #253140;
  border-radius: 10px;
  background-color: #D94A3D;
  padding-top: 5px;
  padding-left: 5px;
  margin-top: 25px;
  margin-right: 10px;
  color: white;
}

div {
  margin: 2px;
}

/*Buttons*/

button {
  border-radius: 5px;
  margin: 5px;
  height: 25px;
  width: 100px;
  background-color: white;
}

.read-button,
.remove-button {
  margin-left: 15%;
  width: 25%;
}

.clear-read-button {
  height: 25px;
  width: 150px;
}
.submit-button {
  margin: auto;
  margin-top: 5px;
}

.red {
  background-color: red;
}

/* medium screens */
@media screen and (max-width: 1020px) {
  .container {
    margin: 0 auto;
    width: 80%;
  }

  li {
    height: 75px;
    width: 35%;
  }

  .read-button,
  .remove-button {
    margin-left: 10%;
  }
}

@media screen and (max-width: 750px) {
  .read-button,
  .remove-button {
    width: 40%;
    margin-left: 5%;
  }

  li {
    height: 75px;
    width: 45%;
    margin-bottom: 20px;
  }
}

/*small screens*/
@media screen and (max-width: 600px) {
  h1 {
    width: 90%;
  }

  h2 {
    margin-top: 30px;
  }

  .main-input {
    width: 70%;
  }

  li {
    height: 75px;
    width: 80%;
    margin-bottom: 20px;
  }

}
